
p,
blockquote{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 200%;
    color: #7a7a7a;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
}

a:hover{
    text-decoration: none;
}

section{
    width: 100%;
    float: left;
    position: relative;
}

ul{
    list-style: none;
    padding-left: 0;
}

.ratio{
    width: 100%;
    float: left;
    height: 0;
    position: relative;
}
.ratio img,
.ratio iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.ratio-75{
    padding-top: 75%;
}
.ratio-1{
    padding-top: 100%;
}
.ratio-16{
    padding-top: 56.25%;
}

.bg-overlay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-3per10,
.col-4per10,
.col-35per100,
.col-45per100,
.col-55per100,
.col-65per100,
.col-6per10{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.master{
    float: left;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.av-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.av-header.sticky{
    background: #272B36;
    height: 80px;
}
.av-header.sticky .logo{
    height: 60px;
}
.av-header.sticky .av-main-nav{
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    width: 20%;
    height: 94px;
    float: left;
    margin: 10px;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.av-main-nav{
    float: right;
    text-align: right;
    padding: 21px;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.av-main-nav li{
    display: inline-block;
    margin-right: 20px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.av-main-nav li a{
    padding: 20px 0;
    display: block;
    color: #fff;
}
.av-main-nav li a:hover,
.av-main-nav li a.active{
    border-bottom: 1px solid #FF6041;
}
.av-main-nav li a i{
    padding-left: 10px;
}
.av-main-nav li:hover a + .dropdown-content{
    display: block;
}
.av-main-nav li:hover a + .dropdown-content .dropdown-content{
    display: none;
}
.av-main-nav li ul{
    display: none;
    position: absolute;
    width: 140px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: #fff;
    text-align: left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.av-main-nav li .dropdown-content li{
    width: 100%;
    float: left;
    position: relative;
}
.av-main-nav li .dropdown-content li a{
    color: #FF6041;
    padding: 10px 25px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.av-main-nav li .dropdown-content li a:hover,
.av-main-nav li .dropdown-content li a.active,
.av-main-nav li .sub-dropdown-content li a.active{
    border-bottom: none;
    background: #FF6041;
    color: #fff;
}
.av-main-nav li .dropdown-content li a i{
    float: right;
    margin-top: 5px;
}
.av-main-nav li .dropdown-content .sub-dropdown-content{
    width: 160px;
    position: absolute;
    top: 0;
    left: auto;
    right: 100%;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);

}

.sub-dropdown-content{
    display: none;
}

.av-main-nav li .dropdown-content li.has-dropdown:hover a ~ .sub-dropdown-content{
    display: block;
}

.av-headline{
    height: 725px;
}
.av-headline .item{
    height: 725px;
    position: relative;
}

.av-headline .owl-dots{
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.av-headline .owl-dots .owl-dot{
    width: 21px;
    height: 21px;
    background: rgba(0,0,0,0.8);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 5px;
}
.av-headline .owl-dots .owl-dot.active{
    background: #FF6041;
}
.av-headline .owl-dots .owl-dot:focus{
    outline: none;
}

.av-headline .item .background-overlay{
    width: 100%;
    height: 100%;
    background: #000;
}
.av-headline .item .background-overlay img{
    opacity: 0.6;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.av-headline .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    z-index: 3;
}

.av-headline .text{
    padding: 45px 45px 45px 140px;
}
.av-headline .text h5{
    font-size: 21px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
}
.av-headline .text h1,
.av-headline .text h2{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}
.av-headline .text p{
    color: #fff;
    margin-bottom: 40px;
}

.burger{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    color: #fff;
    background: rgba(0,0,0,0.2);
    border: none;
    display: none;
}

.bt{
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    display: inline-block;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.bt.bt-primary{
    background: #FF6041;
    color: #fff;
}
.bt.bt-primary:hover{
    background: #EA406F;
}
.bt.fullwidth{
    width: 100%;
}

.bt-lg{
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.headline-v-text{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 10px;
    transform: translate(-50%,-50%) rotate(-90deg);
    -moz-transform: translate(-50%,-50%) rotate(-90deg);
    -webkit-transform: translate(-50%,-50%) rotate(-90deg);
}

.glass-box{
    width: 100%;
    float: left;
    padding: 90px 45px;
    border: 1px solid rgba(255,255,255,0.18);
    background: rgba(255,255,255,0.18);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
.info-list{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.info-list:last-child{
    margin-bottom: 0;
}
.info-list span{
    width: 50px;
    height: 50px;
    float: left;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #FF6041;
    background: #fff;
    color: #FF6041;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.info-list .text{
    padding: 0 0 0 30px;
    float: left;
    width: calc(100% - 50px);
}
.info-list .text h4{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}
.info-list .text p{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
}

.feature-1{
    padding: 100px 0 180px;
    background: #f4f4f4 url(../images/memphis_2.png) no-repeat top right;
}
.feature-1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgba(255,255,255,0.7);
}
.feature-1 .container{
    z-index: 3;
}
.feature-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-1 .img-1{
    width: 530px;
    height: 413px;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left: 20px;
}
.feature-1 .img-2{
    width: 337px;
    height: 215px;
    position: absolute;
    right: 0;
    bottom: -80px;
    overflow: hidden;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.feature-1 .quote{
    width: 268px;
    min-height: 128px;
    padding: 30px 25px;
    background: #fff;
    position: absolute;
    left: 10px;
    bottom: -20px;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    z-index: 2;
}
.feature-1 .quote p{
    font-size: 16px;
    font-weight: 500;
    color: #55595c;
    margin-bottom: 0;
}
.feature-1 .quote p span{
    display: block;
    font-size: 21px;
    color: #FF6041;
    font-weight: 700;
}

.feature-1 .text{
    width: 100%;
    float: left;
    padding: 30px;
}

h6{
    color: #FF6041;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

h2{
    color: #272B36;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 100%;
}

.feature-1 .text p{
    margin-bottom: 30px;
}

.feature-2{
    padding: 100px 0;
}

.av-card-1{
    width: 100%;
    float: left;
    padding: 15px;
    background-size: #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
    margin-bottom: 20px;
    position: relative;
}
.av-card-1 figure{
    margin-bottom: 20px;
}

.av-card-1 .text{
    width: 100%;
    float: left;
}
.av-card-1 .text h3{
    font-size: 23px;
    color: #272B36;
    font-weight: 600;
    margin-bottom: 12px;
}

.av-card-1 .badge{
    padding: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    background-color: #FF6041;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 11px;
}

.section-title{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.section-title h5{
    color: #FF6041;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.section-title h3{
    color: #272B36;
    font-size: 40px;
    font-weight: 600;
}

.feature-3{
    background: #272B36 url(../images/memphis_2.png) no-repeat top right;
    background-size: cover;
    padding: 80px;
}
.feature-3 p{
    color: #fff;
}

.card-2{
    width: calc((100% - 40px) / 2);
    float: left;
    margin: 10px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #fff;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.card-2 h3{
    color: #272B36;
    font-size: 23px;
    font-weight: 600;
}
.card-2 .icon{
    font-size: 48px;
    margin-bottom: 10px;
    color: #FF6041;
}
.card-2 p{
    color: #7a7a7a;
}
.card-2:hover{
    background: rgba(255,255,255,0);
}
.card-2:hover h3,
.card-2:hover p,
.card-2:hover .icon{
    color: #fff;
}

.glass-box-2{
    width: calc(100% - 20px);
    max-width: 840px;
    margin: auto;
    background: rgba(255,255,255,0.25);
    padding: 80px 45px;
    backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 100%;
}

.glass-box-2.height-auto{
    height: auto;
}

.glass-box-2 h6{
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.text-orange{
    color: #FF6041 !important;
}
.glass-box-2 h2{
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    line-height: 100%;
    margin-bottom: 20px;
}
.glass-box-2 p{
    color: #fff;
    margin-bottom: 40px;
}

.team-1{
    padding: 100px 0;
}
.team-1 h6{
    margin-top: 140px;
}
.team-1 .col-3per10{
    padding-left: 15px;
    padding-right: 15px;
}
.portrait{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.portrait .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.7);
    transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
}
.portrait:hover .overlay{
    top: 0;
    opacity: 1;
    pointer-events: auto;
}
.portrait .overlay .text{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
}
.portrait .overlay .text h3{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}
.portrait .overlay .text h3 a{
    color: #fff;
}
.portrait .overlay .text span{
    font-size: 14px;
    display: block;
    margin-bottom: 40px;
    color: #fff;
}
.portrait .overlay .text .social-media{
    width: 100%;
}
.portrait .overlay .text .social-media li{
    display: inline-block;
    margin: 0 5px;
}
.portrait .overlay .text .social-media li a{
    display: block;
    width: 30px;
    height: 30px;
    background: #a1a1a1;
    padding-top: 4px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    font-size: 14px;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.portrait .overlay .text .social-media li a.facebook:hover{
    background: #3b5998;
}
.portrait .overlay .text .social-media li a.instagram:hover{
    background: #e60023;
}
.portrait .overlay .text .social-media li a.twitter:hover{
    background: #1da1f2;
}

.achievement{
    padding: 80px 0;
    background: url(../images/memphis_3.png) no-repeat left center;
    background-size: 45%;
}
.achievement .col-6per10{
    padding-left: 40px;
}
.achievement .col-6per10 p{
    margin-top: 70px;
}

.card-3{
    width: 100%;
    float: left;
    background: rgba(255,255,255,0.25);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.testimonial{
    background: #272B36 url(../images/memphis_2.png) no-repeat top right;
    background-size: cover;
    padding: 80px 0;
}
.testimonial .glass-box{
    float: none;
    padding: 45px;
}
.testimonial .section-title h5,
.testimonial .section-title h3{
    color: #fff;
}

.testimonial-slider .item{
    padding: 10px;
}
.testimonial-card{
    width: 100%;
    float: left;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.testimonial-card .rate{
    font-size: 14px;
    color: #FF6041;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.testimonial-card p,
.testimonial-card figure{
    float: left;
}
.testimonial-card .author{
    width: 100%;
    float: left;
}

.ratio.circle{
    overflow: hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.testimonial-card .author .pic{
    width: 70px;
    float: left;
}
.testimonial-card .author .pic figure{
    margin-bottom: 0;
}
.testimonial-card .author .text{
    width: calc(100% - 70px);
    float: left;
    padding-left: 20px;
}
.testimonial-card .author .text h4{
    color: #272B36;
    font-size: 15px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 15px;
}
.testimonial-card .author .text span{
    color: rgba(0,0,0,0.5);
    font-size: 14px;
}

.blog-section{
    padding: 100px 0;
    background: #f4f4f4;
}
.blog-section.with-bg{
    background: #f4f4f4 url(../images/memphis_2.png) no-repeat top right;
}
.blog-section.with-bg::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgba(255,255,255,0.7);
}

.section-title-2{
    width: 100%;
    float: left;
}
.section-title-2 h5{
    color: #FF6041;
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 1;
    max-width: 100%;
    position: relative;
    margin-bottom: 35px;
}
.section-title-2 h5 span{
    background: #f4f4f4;
    position: relative;
    z-index: 2;
    padding-right: 20px;
}
.section-title-2 h5::before{
    content: "";
    width: 100%;
    height: 1px;
    background: #272B36;
    position: absolute;
    left: 0;
    top: 50%;
}
.section-title-2 h3{
    color: #272B36;
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 20px;
}

.blog-card{
    background: #fff;
    height: 100%;
    overflow: hidden;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    margin-bottom: 20px;
}
.blog-card.with-footer{
    padding-bottom: 40px;
}
.blog-card .text{
    width: 100%;
    float: left;
    padding: 30px 30px 0 30px;
}
.blog-card figure{
    margin-bottom: 0;
}
.blog-card .text h3{
    color: #272B36;
    font-family: "Poppins", Sans-serif;
    font-size: 21px;
    font-weight: 600;
    
}
.blog-card .text h3 a{
    color: #272B36;
}
.blog-card .text h3 a:hover{
    color: #FF6041;
}

.blog-card .badge{
    position: absolute;
    top: 20px;
    left: 30px;
    background: #FF6041;
    color: #fff;
    font-size: 12px;
    padding: .6em 1.2em;
    line-height: 1;
    font-weight: 400;
    border-radius: 999px;
}
.blog-card .blog-foot{
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 30px;
    border-top: 1px solid #eaeaea;
    font-size: 12px;
    color: #adadad;
}

.partners{
    padding: 40px 0;
    background: #f4f4f4;
}

.footer{
    width: 100%;
    float: left;
    background: linear-gradient(45deg, #272B36 0%, #384056 100%);
    padding: 100px;
}

.foot-logo{
    width: 198px;
    height: 65px;
    float: left;
    margin-bottom: 20px;
}
.foot-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer p{
    width: 100%;
    float: left;
    color: #fff;
    margin-bottom: 40px;
}

.footer ul.social{
    width: 100%;
    float: left;
}
.footer ul.social li{
    display: inline-block;
    font-size: 18px;
    margin-right: 15px;
}
.footer ul.social li a{
    color: #fff;
}

.footer-title{
    width: 100%;
    float: left;
    color: #FF6041;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    position: relative;
}
.footer-title span{
    background: #384056;
    padding-right: 10px;
    position: relative;
    z-index: 3;
}
.footer-title::before{
    content: "";
    width: 80%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 10px;
}

ul.sitemap li{
    color: #fff;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    font-weight: 400;
}
ul.sitemap li a{
    color: #fff;
}

.col-3per10 p{
    margin-bottom: 10px;
}

.copyright{
    background: #272B36;
    text-align: center;
    padding: 30px;
}
.copyright p{
    font-size: 15px;
    color: #fff;
    margin-bottom: 0;
}

.page-cover{
    height: 465px;
    padding: 150px 0;
    text-align: center;
}
.page-cover .bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #272B36;
}
.page-cover .bg-overlay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.page-cover .glass-box{
    padding: 45px;
}
.page-cover .glass-box h2,
.page-cover .glass-box h1{
    color: #fff;
    font-size: 50px;
}

.page-cover p{
    color: #fff;
    margin-bottom: 0;
}

.breadcrumb{
    background: none;
    padding: 0;
    display: block;
    flex-wrap: none;
    margin-bottom: 0;
}
.breadcrumb li{
    float: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 16px;
    color: #fff;
}
.breadcrumb li a{
    color: #fff;
}
.breadcrumb li i{
    margin-left: 20px;
}
.breadcrumb li:last-child{
    margin-right: 0;
}

.feature-4{
    padding: 100px 0 160px;
    background: #f4f4f4 url(../images/memphis_4.png) no-repeat center right;
    background-size: contain;
}
.feature-4 .card-2{
    pointer-events: none;
    border: 1px solid #f5f5f5;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
}
.feature-4 .card-2:nth-child(even){
    transform: translateY(80px);
    -moz-transform: translateY(80px);
    -webkit-transform: translateY(80px);
}

.feature-4 .col-55per100{
    padding-left: 45px;
    padding-right: 45px;
}

.feature-4 .col-45per100{
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 210px;
}

.feature-4 .pic{
    width: 100%;
    height: 290px;
    position: relative;
}
.feature-4 .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.feature-4::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(250,250,250,0.9);
    z-index: 0;
}
.feature-4 .container{
    z-index: 3;
}

.feature-4 .pic .quote{
    width: 240px;
    height: 128px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    background: #fff;
    border: 1px solid #fff;
    padding: 30px 25px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: calc(100% - 10px);
    left: -30px;
}
.feature-4 .pic .quote span{
    font-size: 21px;
    font-weight: 700;
    color: #FF6041;
}

.team-2{
    padding: 80px 0;
    background: #f4f4f4 url(../images/memphis_3.png) no-repeat left center;
}
.team-2 .container.glass-box{
    float: none;
    padding: 45px 45px 25px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
}

.team-2 .portrait{
    margin-bottom: 20px;
}

.feature-5{
    padding-bottom: 80px;
    background: #f4f4f4 url(../images/memphis_3.png) no-repeat left bottom;
    background-size: 50%;
}
.feature-5::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgba(255,255,255,0.5);
}
.feature-5 .bg-overlay{
    width: 100%;
    height: 688px;
    float: left;
    position: relative;
    z-index: 1;
}
.feature-5 .bg-overlay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-5 .txt-wrap{
    width: 100%;
    max-width: 920px;
    padding: 75px;
    background: #fff;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin: -150px auto 0;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
}

.contact{
    background: #f4f4f4 url(../images/memphis_3.png) no-repeat left bottom;
    background-size: cover;
    padding-bottom: 80px;
}

.contact .container{
    position: relative;
    z-index: 2;
}

.contact .maps{
    height: 450px;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}
.contact .maps iframe{
    width: 100%;
    height: 100%;
}
.contact::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgba(255,255,255,0.7);
}

.av-form{
    width: 100%;
    float: left;
    padding: 0 30px 0 45px;
}
.av-form label{
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}
.av-form input,
.av-form textarea,
.av-form select{
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
    color: #333;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.av-form input:focus,
.av-form textarea:focus,
.av-form select:focus{
    border-color: #FF6041;
    outline: none;
}
.av-form input{
    height: 40px;
}
.av-form textarea{
    padding: 10px 20px;
    height: 96px;
}
.av-form .bt{
    height: 40px;
    padding: 9px;
}

.av-form input[type="checkbox"],
.av-form input[type="radio"]{
    width: 13px;
    height: 13px;
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}

.contact .txt-wrap{
    width: 100%;
    float: left;
    background: #fff;
    padding: 45px;
    margin-top: -200px;
    height: calc(100% + 220px);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}
.contact .txt-wrap h4{
    color: #272B36;
    font-size: 21px;
}
.contact .txt-wrap .info-list{
    margin-bottom: 10px;
}
.contact .txt-wrap h6{
    margin-bottom: 35px;
    width: 100%;
    float: left;
}
.social-media-group{
    width: 100%;
    float: left;
}
.social-media-group a{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 5px;
    background: #FF6041;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 6px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.av-video{
    height: 582px;
    background: #272B36;
    overflow: hidden;
    padding: 200px 0;
}
.av-video .bg-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.av-video .text{
    width: 100%;
}
.av-video .text h2{
    font-size: 50px;
    color: #fff;
}
.av-video .text p{
    color: #fff;
    margin-bottom: 30px;
}

.bt-play{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #FF6041;
    font-size: 16px;
    color: #fff;
    padding-top: 18px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding-left: 4px;
    position: relative;
}
.bt-play i{
    position: relative;
    z-index: 2;
}
.bt-play:hover{
    color: #fff;
}

.bt-play i{
    pointer-events: none;
}

@keyframes ripple {
    0%   {width: 60px; height: 60px; opacity: 0.6;}
    100%  {width: 90px; height: 90px; opacity: 0;}
}

.bt-play::before,
.bt-play::after{
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background: #FF6041;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.bt-play::before{
    animation: ripple 3s infinite;
}
.bt-play::after{
    animation: ripple 3s infinite;
    animation-delay: 0.8s;
}

.popup-overlay{
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    pointer-events: none;
    opacity: 0;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.popup-overlay.show{
    opacity: 1;
    pointer-events: auto;
}
.popup-overlay .popup{
    width: 90%;
    max-width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.popup-overlay .bt-close{
    width: 44px;
    height: 44px;
    font-size: 18px;
    color: #fff;
    background: rgba(0,0,0,0);
    text-align: center;
    border: 1px solid #fff;
    opacity: 0.6;
    position: absolute;
    top: 20px;
    right: 20px;
    padding-top: 8px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: pointer;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.popup-overlay .bt-close:hover{
    opacity: 1;
    background: #000;
    border-color: #000;
}

.faq{
    padding: 80px 0;
    background: #f4f4f4 url(../images/memphis_2.png) no-repeat right top;
}
.faq::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgba(255,255,255,0.7);
}

.faq-wrap{
    width: 100%;
    float: left;
}
.faq-item{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.faq-item a.question{
    width: 100%;
    float: left;
    padding: 25px 30px;
    color: #fff;
    background: #FF6041;
    font-weight: 700;
    font-size: 15px;
}
.faq-item a.question i{
    float: right;
    padding-top: 5px;
    font-size: 20px;
}

.faq-item .answer{
    border: 1px solid #efefef;
    padding: 0 30px;
    opacity: 0;
    width: 100%;
    float: left;
    overflow: hidden;
    height: 0;
    max-height: 0;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.faq-item .answer.show{
    height: auto;
    opacity: 1;
    max-height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.faq-item .answer p:last-child{
    margin-bottom: 0;
}

.destination{
    padding-top: 80px;
}

.grid{
    width: 100%;
    float: left;
    margin-bottom: 40px;
}
.grid .grid-item{
    position: relative;
    width: 20%;
    float: left;
    height: 460px;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    overflow: hidden;
}
.grid .grid-item figure{
    width: 100%;
    height: 100%;
    float: left;
    margin-bottom: 0;
}
.grid .grid-item figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid:hover .grid-item{
    width: 15%;
}
.grid:hover .grid-item:hover{
    width: 40%;
}
.grid .grid-item .text{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    width: 100%;
    padding: 100px 45px 45px 45px;
    position: absolute;
    bottom: -100px;
    opacity: 0;
    pointer-events: none;
    left: 0;
    text-align: center;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.grid .grid-item:hover .text{
    bottom: 0;
    pointer-events: auto;
    opacity: 1;
}
.grid .grid-item .text h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}
.grid .grid-item .text h3 a{
    color: #fff;
}
.grid .grid-item .text .bt{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
}

.gallery{
    padding: 100px 0;
}

.filter-tab{
    width: 100%;
    float: left;
    margin-bottom: 0;
}
.filter-tab li{
    display: inline-block;
}
.filter-tab li a{
    display: block;
    padding: 10px 20px;
    font-size: 15px;
    color: #6d7882;
    font-weight: 500;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.filter-tab li.active a,
.filter-tab li a:hover{
    color: #FF6041;
}

.grid-2{
    width: 100%;
    float: left;
}
.grid-2 .grid-item{
    width: 25%;
    float: left;
    cursor: pointer;
}
.grid-2 .grid-item figure{
    margin-bottom: 0;
    background: #000;
}
.grid-2 .grid-item:hover img{
    opacity: 0.5;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}

.feature-6{
    height: 840px;
    position: relative;
}
.feature-6 .bg-overlay{
    width: 100%;
    height: 100%;
    float: left;
    background: #272B36;
}
.feature-6 .bg-overlay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.feature-6 .glass-box{
    width: 90%;
    max-width: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    padding: 60px;
    color: #fff;
}
.feature-6 .glass-box h1{
    font-size: 83px;
    font-weight: 700;
}
.feature-6 .glass-box h2{
    color: #fff;
}
.feature-6 .glass-box .divider{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 20px;
}
.feature-6 .glass-box .divider::before,
.feature-6 .glass-box .divider::after{
    content: "";
    width: calc(50% - 30px);
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
}
.feature-6 .glass-box .divider::before{
    left: 0;
}
.feature-6 .glass-box .divider::after{
    right: 0;
}
.feature-6 .glass-box p{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.detail-article{
    background: #f4f4f4 url(../images/memphis_2.png) no-repeat top right;
    padding: 100px 0;
}

.detail-article figure{
    float: left;
    margin-right: 20px;
}
.detail-article figure.main-image{
    margin-right: 0;
}

.detail-article p{
    float: none;
}
.detail-article blockquote{
    padding: 20px 30px;
}
.detail-article::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgba(255,255,255,0.7);
}
.detail-article figure{
    margin-bottom: 30px;
}
.detail-article h3{
    font-size: 21px;
    font-weight: 600;
    color: #272B36;
    margin-bottom: 15px;
}
.detail-article ul{
    margin-bottom: 30px;
}
.detail-article li{
    margin-bottom: 15px;
    font-size: 15px;
    color: #7a7a7a;
}
.detail-article li i{
    margin-right: 20px;
    color: #FF6041;
}

.detail-article .av-form{
    background: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.detail-article .av-form .col-md-6{
    padding-left: 5px;
    padding-right: 5px;
}
.detail-article .profile{
    width: 100%;
    float: left;
}
.detail-article .profile figure{
    width: 153px;
    height: 230px;
    margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.detail-article .profile figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail-article .profile h3{
    margin-bottom: 10px;
}
.detail-article .glass-box .info-list{
    margin-bottom: 20px;
}
.detail-article .glass-box .text h4{
    color: #272B36;
    margin-bottom: 5px;
}

.detail-article .glass-box{
    backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    height: 100%;
    padding: 30px;
}

.author-card{
    width: 100%;
    float: left;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.author-card .pic{
    width: 75px;
    height: 75px;
    margin: 0 auto 30px;
}
.author-card h3,
.author-card p{
    width: 100%;
    float: left;
}
.author-card h3{
    margin-bottom: 5px;
}
.author-card p{
    margin-bottom: 0;
}

form.src{
    width: 100%;
    float: left;
    margin-bottom: 30px;
    position: relative;
}
form.src input{
    width: 100%;
    height: 45px;
    font-size: 15px;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #e0e0e0;
    background: #f7f7f7;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 0 60px 0 15px;
    font-family: 'Poppins', sans-serif;
}
form.src button{
    min-width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    background: #818a91;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
}

.sidebar-title{
    width: 100%;
    float: left;
    position: relative;
}
.sidebar-title span{
    padding-right: 15px;
    background: #fff;
    position: relative;
    z-index: 2;
}
.sidebar-title::before{
    content: "";
    width: 100%;
    height: 1px;
    background: #272B36;
    top: 50%;
    left: 0;
    position: absolute;
    z-index: -1;
}

.blog-widget{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.post-item{
    width: 100%;
    float: left;
    margin: 10px 0;
}

.post-item .pic{
    width: 80px;
    height: 80px;
    float: left;
}
.post-item .text{
    width: calc(100% - 80px);
    float: left;
    padding-left: 20px;
}
.post-item .text h4{
    font-size: 15px;
    font-weight: 600;
    color: #272B36;
}
.post-item .text h4 a{
    color: #272B36;
}
.post-item .text span{
    font-size: 14px;
    color: #adadad;
}

.sidebar .av-form{
    background: none;
    padding: 0;
    box-shadow: none;
}
.sidebar .av-form input{
    margin-bottom: 10px;
}

section.comment{
    padding: 100px 0;
    background: #fff;
}
section.comment .av-form{
    padding-left: 5px;
    padding-right: 5px;
}

section.comment .av-form input,
section.comment .av-form textarea{
    background: #f7f7f7;
}
section.comment .av-form textarea{
    height: 210px;
}

@media only screen and (min-width: 768px){
    .col-3per10{
        max-width: 30%;
        flex: 0 0 30%;
        -ms-flex: 0 0 30%;
    }
    .col-4per10{
        max-width: 40%;
        flex: 0 0 40%;
        -ms-flex: 0 0 40%;
    }
    .col-35per100{
        max-width: 35%;
        flex: 0 0 35%;
        -ms-flex: 0 0 35%;
    }
    .col-45per100{
        max-width: 45%;
        flex: 0 0 45%;
        -ms-flex: 0 0 45%;
    }
    .col-55per100{
        max-width: 55%;
        flex: 0 0 55%;
        -ms-flex: 0 0 55%;
    }
    .col-65per100{
        max-width: 65%;
        flex: 0 0 65%;
        -ms-flex: 0 0 65%;
    }
    .col-6per10{
        max-width: 60%;
        flex: 0 0 60%;
        -ms-flex: 0 0 60%;
    }
}

@media only screen and (max-width: 768px){
    .logo{
        width: 50%;
        height: 60px;
    }
    .burger{
        display: block;
    }
    .burger:focus{
        outline: none;
    }
    .av-main-nav{
        width: 100%;
        position: absolute;
        top: 100%;
        left: 100%;
        background: #fff;
        max-height: calc(100vh - 60px);
        overflow-y: auto;
        padding: 0;
    }
    .av-main-nav.show{
        left: 0;
    }
    .av-main-nav li{
        width: 100%;
        margin-right: 0;
        text-align: left;
    }
    .av-main-nav li a{
        color: #FF6041;
        padding: 15px 10px 15px 20px;
    }
    .av-main-nav li .dropdown-content li a{
        padding: 15px 0 15px 30px;
    }
    .av-main-nav .dropdown-content li .sub-dropdown-content li a{
        padding: 15px 0 15px 20px;
    }
    .av-main-nav li a i{
        float: right;
        width: 40px;
        height: 40px;
        text-align: center;
        padding-top: 12px;
        padding-left: 0;
        margin-top: -10px;
    }
    .av-main-nav .dropdown-content,
    .av-main-nav li .dropdown-content .sub-dropdown-content{
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    .av-main-nav li .dropdown-content .sub-dropdown-content{
        padding-left: 20px;
    }
    .av-main-nav li a.active,
    .av-main-nav .dropdown-content li a.active,
    .av-main-nav .dropdown-content .sub-dropdown-content li a.active,
    .av-main-nav li a:hover,
    .av-main-nav .dropdown-content li a:hover,
    .av-main-nav .dropdown-content .sub-dropdown-content li a:hover{
        border: none;
        background: #FF6041;
        color: #fff;
    }

    .av-main-nav .dropdown-content li i{
        transform: translate(4px,-5px) rotate(90deg);
    }

    .av-main-nav .dropdown-content,
    .av-main-nav .sub-dropdown-content{
        display: none;
    },
    .av-main-nav .dropdown-content.show,
    .av-main-nav .sub-dropdown-content.show{
        display: block;
    }

    .av-main-nav li .dropdown-content li a i{
        margin-top: -5px;
        margin-right: 15px;
    }

    .av-headline,
    .av-headline .item{
        height: 1000px;
    }
    .av-headline .text{
        padding: 150px 50px 40px;
        text-align: center;
    }
    .av-headline .container{
        top: 0;
        left: 0;
        transform: translate(0,0);
        -moz-transform: translate(0,0);
        -webkit-transform: translate(0,0);
    }
    .av-headline .text h5{
        font-size: 18px;
    }
    .av-headline .text h1, .av-headline .text h2{
        font-size: 28px;
    }
    .headline-v-text{
        top: calc(50% + 75px);
        left: 15px;
    }

    .av-headline .info-list .text{
        padding: 0;
        text-align: left;
        padding-left: 20px;
    }
    .av-headline .glass-box{
        padding: 40px;
    }

    .feature-1{
        padding: 10px 0 40px;
    }
    .feature-1 .text{
        text-align: center;
    }

    h6,
    .section-title h5{
        font-size: 12px;
    }
    h2,
    .section-title h3{
        font-size: 21px;
    }
    p{
        font-size: 14px;
    }

    .feature-1 .img-1{
        width: calc(100% - 30px);
        margin-left: 15px;
    }
    .feature-1 .quote{
        bottom: auto;
        top: 320px;
    }

    .feature-1 .img-2{
        width: calc(100% - 30px);
        margin-left: 15px;
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        margin-top: 50px;
        float: left;
    }

    .feature-2{
        padding: 40px 0;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
        padding-left: 15px;
        padding-right: 15px;
    }

    .feature-3{
        padding: 40px 0;
    }
    .card-2{
        margin: 0 0 15px;
        width: 100%;
    }

    .glass-box-2{
        width: 100%;
        padding: 40px 20px;
        text-align: center;
    }
    .glass-box-2 h6{
        font-size: 12px;
    }
    .glass-box-2 h2{
        font-size: 21px;
    }
    .team-1{
        padding: 40px 0;
        text-align: center;
    }
    .team-1 h6{
        margin-top: 0;
    }

    .portrait{
        margin-bottom: 15px;
    }

    .card-3{
        text-align: center;
    }

    .achievement{
        padding: 40px 0;
        background-position-y: bottom;
    }
    .achievement .col-6per10 p{
        margin-top: 30px;
    }

    .testimonial{
        padding-left: 15px;
        padding-right: 15px;
    }
    .testimonial .glass-box{
        padding: 45px 20px;
    }

    .blog-section{
        padding: 100px 0 0;
    }

    .section-title-2 h3{
        font-size: 21px;
    }
    .blog-section .col-md-3{
        margin-bottom: 15px;
    }

    .footer{
        padding: 40px 20px;
    }
    .footer .col-4per10{
        text-align: center;
        margin-bottom: 50px;
    }
    .foot-logo{
        float: none;
        display: inline-block;
    }
    .footer ul.social li:last-child{
        margin-right: 0;
    }
    .copyright p{
        font-size: 14px;
    }

    .page-cover .glass-box h2, .page-cover .glass-box h1{
        font-size: 28px;
    }
    .feature-3{
        background-size: 80%;
    }

    .feature-4{
        padding: 80px 0 40px;
    }
    .feature-4 .col-45per100{
        padding-top: 0;
        margin-bottom: 150px;
    }
    .feature-4 .col-55per100{
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .feature-4 .card-2:nth-child(even){
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    .feature-5 .txt-wrap{
        padding: 20px;
        margin-top: -90px;
    }

    .av-form{
        padding-left: 10px;
        padding-right: 10px;
    }
    .av-form h2{
        text-align: center;
    }
    .av-form p{
        text-align: center;
    }
    .contact .txt-wrap{
        margin-top: 40px;
        height: auto;
    }

    .av-video .text h2{
        font-size: 28px;
    }
    .av-video{
        height: 423px;
        padding: 100px 0;
    }

    .faq-wrap{
        margin-top: 20px;
    }
    .faq-item a.question{
        font-size: 14px;
        padding-right: 50px;
        position: relative;
    }
    .faq-item a.question i{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        font-size: 14px;
    }

    .grid .grid-item{
        width: 100%;
        height: 92px;
    }
    .grid:hover .grid-item{
        width: 100%;
    }
    .grid:hover .grid-item:hover{
        width: 100%;
        height: 199px;
    }

    .detail-article{
        padding: 40px 0;
    }

    .detail-article .col-65per100.pr-5{
        padding-right: 10px !important;
    }
    
    .detail-article figure{
        margin-right: 0;
        width: 100% !important;
    }

    .detail-article .av-form .col-md-12{
        padding-left: 5px;
        padding-right: 5px;
    }
    .detail-article .av-form{
        margin-bottom: 40px;
    }
    .detail-article .profile h3,
    .detail-article .profile p{
        width: 100%;
        float: left;
    }
    .detail-article .profile figure{
        float: none;
    }
    .detail-article h3{
        font-size: 18px;
    }

    .grid-2 .grid-item{
        width: 50%;
    }

    .quote.long-text{
        width: 85%;
        padding: 15px 30px;
    }

    .author-card{
        margin-bottom: 40px;
    }

    .av-form input[type="checkbox"] + label, 
    .av-form input[type="radio"] + label{
        width: calc(100% - 23px);
    }

    .detail-article .glass-box{
        padding-left: 10px;
        padding-right: 10px;
    }

}

